<div class="searchField form-group">
  <div class="row align-items-center">
    <div class="col-4 select_container">
      <select [(ngModel)]="filterKey" class="form-control select">
        <option value="">All column</option>
        <option *ngFor="let key of keys" [value]=" key">{{key | titlecase}}</option>
      </select>
    </div>

    <div class="col-md-8 input_container">
      <input [(ngModel)]="phrase" type="text" class="form-control" placeholder="Search...">
    </div>
  </div>
</div>
<div>

  <div>
    <button type="button" class="btn btn-success col-12" [routerLink]="['/edit/category', 0]">Add new
      item</button>
  </div>

  <div class="row">
    <div class="col-12 scroll">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id<i title="ascending" (click)="setSortParams('asc', 'id', 'number')" class="fa fa-arrow-up"></i>
              <i title="descending" (click)="setSortParams('desc', 'id', 'number')" class="fa fa-arrow-down"></i>
            </th>
            <th>Name<i title="A-Z" (click)="setSortParams('asc', 'name', 'number')" class="fa fa-arrow-up"></i>
              <i title="Z-A" (click)="setSortParams('desc', 'name', 'number')" class="fa fa-arrow-down"></i>
            </th>
            <th>Description<i title="A-Z" (click)="setSortParams('asc', 'description', 'number')"
                class="fa fa-arrow-up"></i>
              <i title="Z-A" (click)="setSortParams('desc', 'description', 'number')" class="fa fa-arrow-down"></i>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="!(categories$ | async)">
            <td colspan="3">
              <div class="load">Loading...</div>

            </td>
          </tr>
          <tr *ngFor="let item of actualCategories$ | async  | filter:phrase:filterKey | sort:direction:column:type">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td><button class="tableButtons btn btn-warning" [routerLink]="['/edit/category/', item.id ]">Edit item<i
                  class="fa fa-address-card pl-2" aria-hidden="true"></i></button>
              <button class="tableButtons btn btn-danger" (click)="onDelete(item)">Delete item <i class="fa fa-trash"
                  aria-hidden="true"></i></button>
            </td>
          </tr>
          <tr>
            <td colspan="4">Number of categories: {{length}}</td>
            <!-- <td>Number of names:</td>
            <td>Number of descriptions: </td>
            <td></td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <nav *ngIf="length>50" aria-label="...">
      <ul class="pagination">
        <li class="page-item">
          <span (click)="setPage(1)" class="page-link">First</span>
        </li>
        <li *ngIf="page > 1" class="page-item"><a class="page-link" (click)="setPage(page - 1)">{{ page - 1 }}</a></li>
        <li class="page-item active">
          <span class="page-link">
            {{ page }}
            <span class="sr-only">(current)</span>
          </span>
        </li>
        <li *ngIf="page*50<length" class="page-item"><a class="page-link" (click)="setPage(page + 1)">{{ page + 1 }}</a>
        </li>
        <li *ngIf="page===1 && length>100" class="page-item"><a class="page-link"
            (click)="setPage(page + 2)">{{ page + 2 }}</a></li>
        <li class="page-item">
          <a (click)="setPage(length/50)" class="page-link">Last</a>
        </li>
      </ul>
    </nav>
  </div>
