<div class="col-4 form-group select_container">
  <select [(ngModel)]="filterKey" class="form-control select">
    <option value="">All column</option>
    <option *ngFor="let key of keys" [value]=" key">{{key | titlecase}}</option>
  </select>
  <i (click)="setSortParams('desc', filterKey, 'number')" class="fa fa-arrow-up"></i>
  <i (click)="setSortParams('asc', filterKey, 'number')" class="fa fa-arrow-down"></i>
</div>

<div class="col-8 mb-5 input_container">
  <input [(ngModel)]="phrase" type="text" class="form-control" placeholder="Search...">
</div>

<div>
  <button type="button" class="btn btn-success col-12" [routerLink]="['/edit/order', 0]">Add new
    item</button>
</div>

<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Customer ID</th>
          <th>Product ID</th>
          <th>Amount</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orders$ | async  | filter:phrase:filterKey | sort:direction:column:type">
          <td>{{ item.id }}</td>
          <td>{{ item.customerID }}</td>
          <td>{{ item.productID }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.status }}</td>
          <td><button class="btn btn-warning" [routerLink]="['/edit/order/', item.id ]">Edit item<i
                class="fa fa-address-card" aria-hidden="true"></i></button>
            <button class="btn btn-danger" (click)="onDelete(item)">Delete item <i class="fa fa-trash"
                aria-hidden="true"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
