<div class="sidebar" data-color="danger" data-background-color="black" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <img src="./assets/img/ninjacarlogo.png" alt="Ninja car logo" width="250">
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active  ">
        <a class="nav-link" href="/">
          <i class="fa fa-dashboard" aria-hidden="true"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/bills">
          <i class="fa fa-paperclip" aria-hidden="true"></i>
          <p>Bills</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/categories">
          <i class="fa fa-address-book" aria-hidden="true"></i>
          <p>Categories</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/customers">
          <i class="fa fa-male" aria-hidden="true"></i>
          <p>Customers</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/orders">
          <i class="fa fa-archive" aria-hidden="true"></i>
          <p>Orders</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/products">
          <i class="fa fa-barcode" aria-hidden="true"></i>
          <p>Products</p>
        </a>
      </li>
    </ul>
  </div>
</div>
