<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <!-- Navbar -->
    <app-header></app-header>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <!-- your content here -->
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav class="float-left">
          <ul>
            <li>
              Ide is jöhet valami.
            </li>
          </ul>
        </nav>
        <div class="copyright float-right">
          <i class="fa fa-copyright" aria-hidden="true"></i> by
          Ninja Cars Limited.
        </div>
        <!-- your footer here -->
      </div>
    </footer>
  </div>
</div>








<!-- <app-edit-product></app-edit-product>
<app-edit-order></app-edit-order>
<app-edit-customer></app-edit-customer>
<app-edit-category></app-edit-category>
<app-edit-bill></app-edit-bill> -->
