<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title" *ngIf="product$ | async">Edit Product</h4>
        <h4 class="card-title" *ngIf="!(product$ | async)">Add New Product</h4>

      </div>
      <div class="card-body">
        <form #billForm="ngForm">
          <input type="hidden" name="id" [(ngModel)]="product.id">

          <h3 class="h5 text-secondary">Name *</h3>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" name="name" [(ngModel)]="product.name" required>
              </div>
            </div>
          </div>

          <h3 class="h5 text-secondary">Type *</h3>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" name="type" [(ngModel)]="product.type" required>
              </div>
            </div>
          </div>

          <h3 class="h5 text-secondary">Category ID *</h3>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="number" class="form-control" name="catID" [(ngModel)]="product.catId" required>
              </div>
            </div>
          </div>

          <h3 class="h5 text-secondary">Description *</h3>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" name="description" [(ngModel)]="product.description" required>
              </div>
            </div>
          </div>

          <h3 class="h5 text-secondary">Price *</h3>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input type="number" class="form-control" name="price" [(ngModel)]="product.price" required>
              </div>
            </div>
          </div>

          <h3 class="h5 text-secondary">Conditions *</h3>
          <div class="row">
            <div class="form-group col-6">
                <label class="bmd-label-floating">Featured</label>
                <select class="form-control" name="status" id="status" [(ngModel)]="product.featured" required>
                  <option value="new" class="form-control">True</option>
                  <option value="shipped" class="form-control">False</option>
                </select>
            </div>
            <div class="form-group col-6">
                <label class="bmd-label-floating">Active</label>
                <select class="form-control" name="status" id="status" [(ngModel)]="product.active" required>
                  <option value="new" class="form-control">True</option>
                  <option value="shipped" class="form-control">False</option>
                </select>
            </div>
          </div>

          <button *ngIf="product.id!==0" (click)="onUpdate(product)" type="submit" class="btn btn-primary pull-right">Update
            Product</button>
          <button *ngIf="product.id===0" (click)="onCreate(product)" type="submit" class="btn btn-primary pull-right">Create
            Product</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">

  </div>
</div>
